@model List<ProyectoReservaciones.Models.ReservacionModel>
@{
    ViewBag.Title = "Gestionar Reservaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestionar Reservaciones</h2>

<div class="col-md-12">
    @using (Html.BeginForm("GestionarReservaciones", "Reservacion", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-3">
                @Html.Label("Cliente")
                <br />
                @Html.DropDownList("idCliente", new SelectList(ViewBag.ListaCliente, "idPersona", "nombreCompleto"), "Selecione un cliente", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => Model[0].fechaEntrada)
                <br />
                @Html.Editor("fechaEntrada", new { htmlAttributes = new { type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model[0].fechaEntrada, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => Model[0].fechaSalida)
                <br />
                @Html.Editor("fechaSalida", new { htmlAttributes = new { type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model[0].fechaSalida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class=" col-md-12" style="text-align:right">
                <input type="submit" id="btnFiltrar" value="Filtrar" class="btn btn-md btn-success" />
                <input type="button" onclick="limpiarBotones();" id="btnLimpiar" value="Limpiar" class="btn btn-md btn-primary" />
            </div>
        </div>
    }
    <br />


    @Html.ActionLink("Nueva reservación", "CrearReservacion", "Reservacion", null, new { @class = "btn btn-primary" })
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>@Html.LabelFor(Model => Model[0].idReservacion)</th>
                <th>@Html.LabelFor(Model => Model[0].nombreCompleto)</th>
                <th>@Html.LabelFor(Model => Model[0].hotel)</th>
                <th>@Html.LabelFor(Model => Model[0].fechaEntrada)</th>
                <th>@Html.LabelFor(Model => Model[0].fechaSalida)</th>
                <th>@Html.LabelFor(Model => Model[0].costoTotal)</th>
                <th>@Html.LabelFor(Model => Model[0].estado)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(Model => Model[i].idReservacion)</td>
                    <td>@Html.DisplayFor(Model => Model[i].nombreCompleto)</td>
                    <td>@Html.DisplayFor(Model => Model[i].hotel)</td>
                    <td>@Html.DisplayFor(Model => Model[i].fechaEntrada)</td>
                    <td>@Html.DisplayFor(Model => Model[i].fechaSalida)</td>
                    <td>@Html.DisplayFor(Model => Model[i].costoTotal)</td>
                    <td>@Html.DisplayFor(Model => Model[i].estado)</td>
                    <td>
                        @Html.ActionLink("Consultar", "DetalleReservacion", "Reservacion", routeValues: new { idReservacion = Model[i].idReservacion }, htmlAttributes: new { @class = "" })<br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



